/* .footer {} */

.footer__wrap {
    margin: 0 20px;
}

.footer__copyright {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #222222;
}
