.footer {
    background-color: #232629;
    height: 90px;
}

.footer__wrap {
    align-items: center;
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    height: inherit;
    justify-content: center;
}

.footer__copyright {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
